<template lang="pug">
  .search
    input(tabindex="1" type="search" name="q" placeholder="Поиск по сайту" autocomplete="off")
    button
</template>

<script>
  export default {
  }
</script>

<style lang="sass" scoped>
  .search
    width: 100%
    position: relative
    input
      width: 100%
      border: 2px solid $site-color
      border-radius: 2px
      background: 0 0
      box-shadow: none
      color: #6F6F6F
      box-sizing: border-box
      padding: 5px 30px 5px 10px
      height: 36px
      line-height: 20px
      font-size: 12px
      font-weight: 500
      text-transform: uppercase
    button
      width: 40px
      height: 36px
      background-image: url('./assets/search.svg')
      background-repeat: no-repeat
      border: unset
      background-color: $site-color
      background-position: center
      position: absolute
      right: 2px
      outline: none
</style>