<template lang="pug">
  .desktop-template
    Header
    .site-container
      nuxt.main-content
</template>

<script>
  import Header from '@/components/desktop/header'
  export default {
    components: { Header }
  }
</script>

<style lang="sass" scoped>
  .desktop-template
    width: 1260px
    margin: 0 auto
    position: relative
    .site-container
</style>