<template lang="pug">
  .mobile-template
    //- Header
    .site-container
      nuxt.main-content
    AdvertisingBannerMobilePopUp
</template>

<script>
  import Header from '@/components/desktop/header'
  import AdvertisingBannerMobilePopUp from '@/common/advertising/mobile-pop-up'
  export default {
    components: { Header, AdvertisingBannerMobilePopUp }
  }
</script>

<style lang="sass" scoped>
  .desktop-template
    width: 1260px
    margin: 0 auto
    position: relative
    .site-container
</style>