<template lang="pug">
  .advertising-popup-overlay(v-if="show" @click.self="close()")
    .advertising-adfox.advertising-popup-banner
      .ad-close(@click="close()" :style="{ color: closeButtonColor}")
      .adfox-container(:id="item.adfoxContainerId + this.hashId")
</template>

<script>
  import advertising from '../banner.js'

  export default {
    mixins: [advertising],
    props: {
      closeButtonColor: {
        type: String,
        default: () => '#fff'
      }
    },
    methods: {
      close() {
        this.show = false
      }
    }
  }
</script>

<style scoped lang="sass">
  .advertising-popup-overlay
    position: fixed
    width: 100vw
    height: 100vh
    top: 0px
    left: 0px
    background: rgba(0.5, 0.5, 0.5, 0.5)
    z-index: 10000
    .advertising-popup-banner
      display: flex
      height: 100vh
      justify-content: center
      align-items: center
    .ad-close
      &::after
        content: "×"
        display: block
        width: 0px
        height: 15px
        color: #fff
        font-size: 35px
        cursor: pointer
        outline: none
        position: relative
        right: -160px
        top: -135px
        @media (max-width: 360px)
          right: 0
    .adfox-container 
      width: 100%
      display: flex
      justify-content: center
      position: absolute
</style>