<template lang="pug">
  .header
    .logo
      img(src="./assets/logo.svg")

    .menu
      span Каталог
      span О нашем кофе
      span Доставка
      span Оплата
      span Контакты

    .phone
      span 8(999) 55-55-55

    Search

    .cart
      a.compare(href="#")
        span 0
      a.cart-price(href="#" @mouseover="funcShowTooltipProductCart('over')" @mouseout="funcShowTooltipProductCart('out')")
        span {{ $store.state.productCart.totalProduct }}
    TooltipProductCart(
      v-if="showTooltipProductCart"
      @showTooltipProductCart="funcShowTooltipProductCart('over')"
      @hideTooltipProductCart="funcShowTooltipProductCart('out')"
      @closeTooltipProductCart="funcCloseTooltipProductCart"
    )
</template>

<script>
  import Search from '@/components/desktop/search'
  import TooltipProductCart from '@/components/desktop/tooltip-product-cart'

  export default {
    components: { Search, TooltipProductCart },
    data() {
      return {
        showTooltipProductCart: false,
        timerId: null
      }
    },
    methods: {
      funcShowTooltipProductCart(type) {
        if(type === 'out' &&  this.showTooltipProductCart) {
          this.timerId = setTimeout( () => {
            this.showTooltipProductCart = false
          },3000)
        }else {
          clearTimeout(this.timerId)
          this.showTooltipProductCart = true
        }        
      },
      funcCloseTooltipProductCart() {
        if(this.timerId) clearTimeout(this.timerId)
        this.showTooltipProductCart = false
      }
    }
  }
</script>

<style lang="sass" scoped>
  .header
    display: grid
    grid-template-columns: 120px 1fr 110px 350px 80px
    grid-column-gap: 15px
    align-items: center
    margin: 15px 0
    position: relative
    
    .logo
    
    .menu
      display: flex
      justify-content: space-evenly

    .phone
    
    .cart
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      a
        display: block
        position: relative
        font: 500 16px/19px 'Rubik'
        color: #A5AAB3
      .cart-price, .compare
        width: 28px
        height: 28px
        background-repeat: no-repeat
        background-position: center
        span
          color: #fff
          font-size: 12px
          font-weight: 500
          width: 18px
          height: 18px
          line-height: 18px
          text-align: center
          border-radius: 50%
          position: absolute
          left: 14px
          top: -2px
          background: #ec0606
      .compare
        margin-right: 15px
        background-image: url('./assets/compare.svg')
      .cart-price
        background-image: url('./assets/cart.svg')
</style>