@font-face
  font-family: 'Geometria-bold'
  src: url('../assets/fonts/geometria-extrabold.ttf')
  // font-weight: bold
  // font-style: normal
@font-face
  font-family: 'Geometria'
  src: url('../assets/fonts/geometria.ttf')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Geometria-italic'
  src: url('../assets/fonts/geometria-italic.ttf')
  font-weight: 400
  font-style: normal