html
  font-family: 'Geometria', sans-serif
  font-size: 14px

html,
body,
#__nuxt,
#__layout,
  position: relative
  height: 100%
  font-size: 14px

  button, a
    cursor: pointer
  
  // span, a, button, p
  //   font-size: 14px