*
  box-sizing: border-box
  padding: 0
  margin: 0
  &::after,
  &::before
    box-sizing: border-box

a
  text-decoration: none
  color: inherit
  &:hover, &:active, &:focus
    text-decoration: none
    color: inherit
    outline: none

h1,
h2,
h3,
h4,
h5,
h6,
  font-weight: 700
p
  font-weight: 400
  line-height: 1.333rem
body>img
  display: block
  height: 0
  width: 0
  position: absolute
