<template lang="pug">
  .product-catalog
    h1 Наш каталог продукции
      .product-cards
        .product-card(v-for="(product, id) in $store.state.products.backendProducts")
          .product-card-front(
            :class="{ 'product-card-front-flip': showFlipCard.state &&  showFlipCard.idx == id }"
            @mouseover="funcShowMoreInfo(id, 'over')"
            @mouseout="funcShowMoreInfo(id, 'out')"
          )
            .product-image
              img(src="./assets/product.png")
            .product-name
              span {{ product.product_name }}
            .product-description
              p {{ product.product_description }}
            .product-weight-and-count
              .product-weight
                .product-weight-wrap
                  span(
                    v-for="(productWeight, idx) in product.product_prices"
                    @click="weightChange(product.id, productWeight.product_id)"
                    :class="{ 'product-weight-checked': productWeight.product_weight_checked}"
                  ) {{ productWeight.product_weight}} гр.
              .product-count-wrap
                .product-count-down(@click="productCountChange($refs.productCount, 'down', id)")
                  button
                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 1.00004C0.666748 0.631851 0.965225 0.333374 1.33341 0.333374H10.6667C11.0349 0.333374 11.3334 0.631851 11.3334 1.00004C11.3334 1.36823 11.0349 1.66671 10.6667 1.66671H1.33341C0.965225 1.66671 0.666748 1.36823 0.666748 1.00004Z" fill="black"></path></svg>
                .product-count
                  input(type="number" value="1" min="1" ref="productCount" :name="'productCount' + id")
                .product-count-up(@click="productCountChange($refs.productCount, 'up', id)")
                  button
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99992 2.66663C8.36811 2.66663 8.66659 2.9651 8.66659 3.33329V12.6666C8.66659 13.0348 8.36811 13.3333 7.99992 13.3333C7.63173 13.3333 7.33325 13.0348 7.33325 12.6666V3.33329C7.33325 2.9651 7.63173 2.66663 7.99992 2.66663Z" fill="black"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66675 8.00004C2.66675 7.63185 2.96522 7.33337 3.33341 7.33337H12.6667C13.0349 7.33337 13.3334 7.63185 13.3334 8.00004C13.3334 8.36823 13.0349 8.66671 12.6667 8.66671H3.33341C2.96522 8.66671 2.66675 8.36823 2.66675 8.00004Z" fill="black"></path>
                    </svg>
            .product-cart-price-and-action
              .product-price(ref="productPrice")
                span {{ product.product_prices.find( item => item.product_weight_checked === true).product_price *  product.count }} ₽
              .product-add-button(@click="adToCart(product)")
                button 
                  include ./assets/add_product.svg
                  span В корзину

          .product-card-back(
            :class="{ 'product-card-back-flip': showFlipCard.state &&  showFlipCard.idx == id }"
            @mouseover="funcShowMoreInfo(id, 'over')"
            @mouseout="funcShowMoreInfo(id, 'out')"
          )
            span Обратная сторона карточки

          .product-card-more-info(
            v-if="showMoreInfo.state && showMoreInfo.idx == id && !showFlipCard.state"
            @click="funcShowFlipCard(id)"
          )
            button Читать больше
          .product-card-more-info-close(
            v-if="showMoreInfo.state && showMoreInfo.idx == id && showFlipCard.state"
            @click="funcShowFlipCard(id)"
          )
            button Закрыть
</template>

<script>
  export default {
    data() {
      return {
        showFlipCard: { state: false, idx: 0 },
        showMoreInfo: { state: false, idx: 0 },
        showMoreInfoTimerId: null,
        activeIdxCard: 0
      }
    },
    methods: {
      weightChange(productId, productPricesId) {
        this.$store.commit('products/changeCheckedWeight', { productId, productPricesId })
      },
      productCountChange(value, changeType, id) {
        let inputValue = Number(value[id].value)
        if(inputValue > 1 && changeType === 'down') {
          value[id].value = inputValue - 1
          this.$store.commit('products/productCountChange', { id, type: 'down' })
        }
        if(changeType === 'up') {
          this.$store.commit('products/productCountChange', { id, type: 'up' })
          value[id].value = inputValue + 1
        }
      },
      adToCart(product) {
        let copyProduct =  JSON.parse(JSON.stringify(product))
        
        this.$store.commit('productCart/setProductCart', copyProduct)
      },
      funcShowFlipCard(index) {
        this.showFlipCard.state = !this.showFlipCard.state
        this.showFlipCard.idx = index
      },
      funcShowMoreInfo(index, type) {
        if(this.showMoreInfo.state && this.showFlipCard.idx != index && this.showFlipCard.state) {
          console.log('funcShowMoreInfo first if')
          this.funcShowFlipCard(index)
        }
        if (type === 'over') {
          this.showMoreInfo.state = true
          if (this.showMoreInfoTimerId) clearTimeout(this.showMoreInfoTimerId)
        }
        if (type === 'out') {
          this.showMoreInfoTimerId = setTimeout( () => {
            this.showMoreInfo.state = false
          },5000)
        }
        // if (this.showMoreInfoTimerId) clearTimeout(this.showMoreInfoTimerId)
        this.showMoreInfo.idx = index
      }
    },
    async mounted() {
      let products = ( await this.$axios.get('/products') ).data
      products.forEach(item => item['count'] = 1)
      this.$store.commit('products/setProducts', products)
    }
  }
</script>

<style lang="sass" scoped>
  .product-catalog
    .product-cards
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 21px
      margin-top: 25px
      .product-card
        width: 300px
        height: 430px
        background: #F9F9F9
        border-radius: 15px
        position: relative
        transition: 0.5s
        &:hover
          background: #fefefe
          box-shadow: 0 4px 21px rgba(147, 112, 49, 0.5)
          transform: scale(1.05)
          z-index: 99
          transition: 0.5s
        .product-card-front, .product-card-back
          position: absolute
          width: 100%
          height: 100%
          left: 0
          top: 0
          transition: 1s
          backface-visibility: hidden
          padding: 15px
          .product-image
            display: flex
            justify-content: center
            img
              width: 150px
          .product-name
            span
              font-size: 18px
          .product-description
            p
              font-size: 14px
          .product-weight-and-count
            display: flex
            justify-content: space-between
            align-items: center
            margin: 20px 0 25px 0
            border-top: 1px solid $general-cart-color
            padding-top: 22px
            .product-weight
              .product-weight-wrap
                width: 125px
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50px
                background-color: #fff
                border: 1px solid #D2D7E4
                padding: 5px
                &::hover
                  cursor: pointer
                input, span
                  border: 1px solid #fff
                  background-color: #fff
                  display: flex
                  width: 100%
                  height: 25px
                  border-radius: 50px
                  justify-content: center
                  align-items: center
                  outline: none
                  cursor: pointer
                  font-size: 12px
                span
                  border: 1px solid #fff
                  background-color: #fff
                  display: flex
                  width: 100%
                  height: 25px
                  border-radius: 50px
                  justify-content: center
                  align-items: center
                .product-weight-checked, .product-weight-default-checked
                  display: flex
                  background-color: $general-cart-color
                  color: #fff
                  text-align: center
            .product-count-wrap
              display: flex
              align-items: center
              justify-content: center
              &:hover
                cursor: pointer
              .product-count, .product-count-down, .product-count-up
                display: flex
              .product-count
                input
                  width: 45px
                  text-align: center
                  border-radius: 50px
                  background-color: #fff
                  border: 1px solid #D2D7E4
                  height: 25px
                  outline: none
                  margin: 0 10px 0 10px
                  -moz-appearance: textfield
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button
                  -webkit-appearance: none
                  margin: 0
              .product-count-down, .product-count-up
                button
                  display: flex
                  background-color: #F9F9F9
                  border: none
                  outline: none
          .product-cart-price-and-action
            display: flex
            justify-content: space-between
            align-items: center
            .product-price
            .product-add-button
              display: flex
              align-items: center
              position: relative
              button
                width: 150px
                height: 40px
                display: flex
                align-items: center
                justify-content: space-around
                border: none
                background-color: $general-cart-color
                color: #fff
                border-radius: 50px
                &:hover
                  background-color: #fff
                  border: 1px solid $general-cart-color
                  color: $general-cart-color
                  svg
                    display: none
                    // fill: #111
                    // stroke: #111
        
        .product-card-back
          transform: rotateY(180deg)
        .product-card-front-flip
          transform: rotateY(180deg)
        .product-card-back-flip
          transform: rotateY(360deg)

        .product-card-more-info, .product-card-more-info-close
          position: absolute
          bottom: -70px
          width: 100%
          &:hover
            opacity: 0.8
          button
            background-color: $general-cart-color
            border: none
            color: #fff
            height: 45px
            width: 100%
</style>