<template lang="pug">
	.parnters-condition-slider
		.parnters-condition-slider-left
			.parnters-condition-slider-header
				p {{ header }}
			//- .slider-custom-navigation
			//- 	.slider-custom-navigation-left(@click="prewSlide")
			//- 		img(src="./assets/arrow.svg" class="prev")
			//- 	.slider-custom-navigations-right(@click="nextSlide")
			//- 		img(src="./assets/arrow.svg" class="next")
		.swiper-container(v-swiper:mySwiper="swiperOptions")
			.swiper-wrapper
				.swiper-slide(v-for="item, id in slides" :key="id")
					a(v-if="item.url" :href="item.url" target="_blank")
						img(:src="item.image" :alt="item.title")
						span {{item.title}}
						//- img(src="./assets/slide-one.jpg" :alt="item.title")
						//- span {{item.title}}
					.swipe-slide-not-link(v-else)
						img(:src="item.image" :alt="item.title")
						span {{item.title}}
						//- img(src="./assets/slide-one.jpg" :alt="item.title")
						//- span {{item.title}}
</template>

<script>
	export default {
		props: {
			header: {
				type: String,
				default: ''
			},
			slides: {
				type: Array,
				default: () => [
					{ title: 'slide-one', url: 'https://blackriverroasters.com/', img: 'slide-one.jpg' },
					{ title: 'slide-two', url: 'https://cuapero.com//', img: 'slide-two.jpg' },
				]
			}
		},
		data() {
			return {
				swiperOptions: {
					speed: 500,
					autoplay: {
						delay: 2000,
						// disableOnInteraction: false,
						// waitForTransition: false
					},
					loop: true,
					slidesPerView: 1,
					slidesPerGroup: 1,
					allowTouchMove: true,
					spaceBetween: 0,
				}
			}
		},
		computed: {
		},
		methods: {
			customAutoPlay() {
				this.swiper.slideNext(2000)
			},
			nextSlide() {
				this.swiper.slideNext(500)
			},
			prewSlide() {
				this.swiper.slidePrev(500)
			}
		},
		mounted() {
			console.log('slider', this.slides)
		}
	}
</script>

<style lang="sass" scoped>
	.swiper-container
		height: 450px
		.swiper-wrapper
			.swiper-slide
				a
					img
						width: 100%
						height: 450px
				.swipe-slide-not-link
					img
						width: 100%
						height: 450px
</style>