<template lang="pug">
  .div
    iframe(src="https://hitfm.ru/embedded-player?streamUrl=https://hitfm-smartpop.hostingradio.ru/smartpop96.aacp" frameborder="0")
    //- iframe(src="https://localhost:8990/embedded-player?streamUrl=https://hitfm-smartpop.hostingradio.ru/smartpop96.aacp?radiostatistica=mtsofficial" frameborder="0")
</template>

<script>
  export default {
    data() {
      return {}
    }
  }
</script>

<style lang="sass" scoped>
  iframe 
    width: 769px
    height: auto
    @media (max-width: 768px)
      width: 280px
      height: 72px
</style>