<template lang="pug">
  div
    //- Slider(:slides="slides")
    ProductCard
</template>

<script>
  import Slider from '../components/desktop/slider'
  import ProductCard from '../components/desktop/product-card'

  export default { 
    layout: 'desktop',
    components: { Slider, ProductCard },
    data() {
      return {
        slides: []
      }
    },
    async asyncData({ $axios }) {
      // $axios.defaults.baseURL = 'http://localhost:8000/api'
      // const promises = [
      //   $axios.$get('/slider')
      // ]

      // const [slides] = await Promise.all(promises)

      // return {
      //   slides
      // }
    },
    async mounted() {
      this.slides = ( await this.$axios.get('/slider') ).data
      // console.log('slider', this.slides)
    }
  }
</script>

<style scoped lang="sass">
</style>