<template lang="pug">
  Slider(:slides="slides")
</template>

<script>
  import Slider from '../components/mobile/slider'

  export default {
    layout: 'mobile',
    components: { Slider },
    data() {
      return {
        slides: []
      }
    },
    async asyncData({ $axios }) {
      // $axios.defaults.baseURL = 'http://localhost:8000/api'
      // const promises = [
      //   $axios.$get('/slider')
      // ]

      // const [slides] = await Promise.all(promises)

      // return {
      //   slides
      // }
    },
    async mounted() {
      this.slides = ( await this.$axios.get('/slider') ).data
      console.log('slider', this.slides)
    }
  }
</script>

<style scoped lang="sass">
</style>