<template lang="pug">
  .tooltip-product-cart(@mouseover="$emit('showTooltipProductCart')" @mouseout="$emit('hideTooltipProductCart')")
    .close-tooltip-product-cart(@click="$emit('closeTooltipProductCart')")
      include ./assets/close-icon.svg
    .tooltip-product-title(v-if="$store.state.productCart.productCart.length") Товары в корзине
    .tooltip-product(v-if="$store.state.productCart.productCart.length")
      .tooltip-product-item(v-for="item in $store.state.productCart.productCart")
        img(src="./assets/product.png")
        .tooltip-product-item-info
          span {{ item.product_name }}
          span {{ item.product_prices.find(weight => weight.product_weight_checked == true).product_weight }}
          span Кол-во {{ item.count }}
          span Итоговая сумма {{ 1 }}
        img.tooltip-product-item-delete(src="./assets/tooltip-cart-delete.png" @click="$store.commit('productCart/deleteProductInCart', item)")
      .tooltip-product-button(v-if="") Оформить заказ
    .tooltip-product-empty(v-else)
      span Не добавлено еще товаров
</template>

<script>
  export default {
    mounted() {
      // console.log('tooltip product cart', this.$store.state.productCart.productCart)
    }
  }
</script>

<style lang="sass" scoped>
  .tooltip-product-cart
    width: 350px
    height: auto
    position: absolute
    border: 1px solid #937031
    right: 0
    top: 55px
    z-index: 999
    background-color: #fff
    padding: 15px
    .close-tooltip-product-cart
      position: absolute
      top: 0
      right: 0
      &:hover
        cursor: pointer
    .tooltip-product-title
      margin: 0 0 15px 12px
    .tooltip-product
      .tooltip-product-item
        display: grid
        grid-template-columns: 50px 1fr 15px
        grid-column-gap: 15px
        align-items: center
        justify-content: center
        padding-bottom: 17px
        position: relative
        &::after
          content: ''
          width: 100%
          height: 5px
          position: absolute
          bottom: 0
          border-top: 1px solid #937031
        &:not(:first-child)
          margin-top: 10px
        .tooltip-product-item-info
          display: flex
          flex-direction: column
        img
          width: 50px
        .tooltip-product-item-delete
          width: 15px
          cursor: pointer
      .tooltip-product-button
        width: 50%
        height: 40px
        background-color: #937031
        color: #fff
        margin: 10px auto auto
        display: flex
        align-items: center
        justify-content: center
        &:hover
          cursor: pointer
          opacity: 0.8
    .tooltip-product-empty
</style>